* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --red-500: hsl(356, 100%, 66%);
    --red-400: hsl(355, 100%, 74%);
    --blue-900: hsl(208, 49%, 24%);

    --white: hsl(0, 100%, 100%);
    --gray-600: hsl(207, 13%, 34%);
    --gray-900: hsl(240, 10%, 16%);

    /* Gradient for intro/mobile cta */
    --orange-300: hsl(13, 100%, 72%);
    --red-550: hsl(353, 100%, 62%);

    /* background gradient - body */
    --purple-950: hsl(237, 17%, 21%);
    --purple-900: hsl(237, 23%, 31%);

    --heading-fnt-fmly: 'Overpass', sans-serif;
    --paragraph-fnt-fmly: 'Ubuntu', sans-serif;
}

button {
    background-color: unset;
    border: unset;
}

a {
    font-family: var(--paragraph-fnt-fmly);
    text-decoration: none;
    color: unset;
}

li {
    list-style: none;
}

header {
    background-color: var(--orange-300);
    background-image: url('./images/bg-pattern-intro-mobile.svg');
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center;
    border-bottom-left-radius: 6rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
}

.desktop-nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-basis: 50%;
}

.desktop-nav a {
    color: var(--white);
}

#login-btn {
    color: var(--white);
}

#register-btn {
    color: var(--orange-300);
    background-color: var(--white);
    padding: 0.5rem 1.2rem;
    border-radius: 2rem;
}

.auth-buttons {
    display: flex;
    gap: 1rem;
}

.auth-buttons a {
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    padding: 1.4rem;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.hero-content h1 {
    /* Ensures consistent font style for all headings on the page */
    font-family: var(--heading-fnt-fmly);
    text-align: center;
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 500;
}

.hero-content p {
    font-family: var(--paragraph-fnt-fmly);
    text-align: center;
    color: var(--white);
}

.cta-btn {
    display: flex;
    margin-top: 2.5rem;
    margin-bottom: 4rem;
    gap: 2rem;
}

.cta-btn button {
    border-radius: 1.5rem;
    padding: 0.8rem 1.5rem;
    text-align: center;

    &:hover {
        cursor: pointer;
    }
}

#start-for-free {
    background-color: var(--white);
    color: var(--orange-300);
    font-family: var(--paragraph-fnt-fmly);
    font-weight: 500;
}

#learn-more {
    background-color: transparent;
    color: var(--white);
    border: 1px solid var(--white);
    font-family: var(--paragraph-fnt-fmly);
    font-weight: 500;
}

/* main */

.section-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-one-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-one-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sub-heading {
    text-align: center;
    font-family: var(--heading-fnt-fmly);
    color: var(--blue-900);
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--purple-950);
    gap: 2.5rem;
    padding: 5rem 1rem;
    border-top-right-radius: 4rem;
}

.footer-section-heading {
    text-align: center;
    margin-bottom: 1.2rem;
    font-family: var(--heading-fnt-fmly);
    color: var(--white);
}

.footer-section ul {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 0.5rem;
}

.footer-links a {
    color: var(--white);
    font-family: var(--paragraph-fnt-fmly);
}

.attribution {
    text-align: center;
    font-family: var(--paragraph-fnt-fmly);
}

/* For desktop preview */

@media (min-width: 640px) {
    .menu-desktop {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: var(--paragraph-fnt-fmly);
        color: var(--white);
    }

    .hero-content h1 {
        font-size: 3rem;
    }

    .hero-content p {
        font-size: 1.3rem;
    }
}
