* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --red-500: hsl(356, 100%, 66%);
    --red-400: hsl(355, 100%, 74%);
    --blue-900: hsl(208, 49%, 24%);

    --white: hsl(0, 100%, 100%);
    --gray-600: hsl(207, 13%, 34%);
    --gray-900: hsl(240, 10%, 16%);

    /* Gradient for intro/mobile cta */
    --orange-300: hsl(13, 100%, 72%);
    --red-550: hsl(353, 100%, 62%);

    /* background gradient - body */
    --purple-950: hsl(237, 17%, 21%);
    --purple-900: hsl(237, 23%, 31%);

    --heading-fnt-fmly: 'Overpass', sans-serif;
    --paragraph-fnt-fmly: 'Ubuntu', sans-serif;
}

html {
    scroll-behavior: smooth;
}

button {
    background-color: unset;
    border: unset;
}

a {
    font-family: var(--paragraph-fnt-fmly);
    text-decoration: none;
    color: unset;
}

li {
    list-style: none;
}

header {
    background-color: var(--orange-300);
    background-image: url('./images/bg-pattern-intro-mobile.svg');
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center;
    border-bottom-left-radius: 6rem;
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
}

.desktop-nav-bar {
    display: none;
}

.mobile-nav {
    display: none;
    position: absolute;
}

.desktop-nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-basis: 50%;
}

.desktop-nav a {
    color: var(--white);
}

#login-btn {
    color: var(--white);
}

#register-btn {
    color: var(--orange-300);
    background-color: var(--white);
    padding: 0.5rem 1.2rem;
    border-radius: 2rem;
}

.auth-buttons {
    display: flex;
    gap: 1rem;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 2rem;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.hero-content h1 {
    /* Ensures consistent font style for all headings on the page */
    font-family: var(--heading-fnt-fmly);
    text-align: center;
    color: var(--white);
    font-size: clamp(1.5rem, 2.5vw, 2.2rem);
    font-weight: 500;
}

.hero-content p {
    font-family: var(--paragraph-fnt-fmly);
    text-align: center;
    color: var(--white);
}

.cta-btn {
    display: flex;
    margin-top: 3.5rem;
    margin-bottom: 4rem;
    gap: 3rem;
}

.cta-btn button {
    font-size: clamp(1rem, 2.5vw, 1.2rem);
    border-radius: 1.5rem;
    padding: 0.8rem 1.5rem;
    text-align: center;
    transition: 0.3s;
    &:hover {
        cursor: pointer;
    }
}

#start-for-free {
    background-color: var(--white);
    color: var(--orange-300);
    font-family: var(--paragraph-fnt-fmly);
    font-weight: 500;

    &:hover {
        background-color: var(--orange-300);
        border: 1px solid var(--white);
        color: var(--white);
    }
}

#learn-more {
    background-color: transparent;
    color: var(--white);
    border: 1px solid var(--white);
    font-family: var(--paragraph-fnt-fmly);
    font-weight: 500;
    transition: 0.3s all;
    &:hover {
        background-color: var(--red-500);
        border: 1px solid var(--red-500); /* Keep the border width consistent */
    }
}

/* main */

.section {
    margin: 10rem 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.section-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1.5rem;
    width: 90%;
}

.section-header {
    font-family: var(--heading-fnt-fmly);
    padding-bottom: 2rem;
    font-size: clamp(1.5rem, 2.5vw, 2.2rem);
    text-align: center;
}

.sub-heading {
    text-align: center;
    font-family: var(--heading-fnt-fmly);
    color: var(--blue-900);
    padding-bottom: 1.2rem;
    margin-top: 2rem;
    font-size: clamp(1.2rem, 2.5vw, 2rem);
}

.section-para {
    line-height: 1.7rem;
    font-size: clamp(1rem, 2.5vw, 1.2rem);
    text-align: center;
    font-family: var(--paragraph-fnt-fmly);
    color: var(--gray-600);
}

section picture img {
    max-width: 100%;
    height: auto;
}

/* Section-One */

.section-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Section-Two */
.section-two {
    background-color: var(--purple-900);
    background-image: url('/images/bg-pattern-circles.svg');
    border-top-right-radius: 6rem;
    border-bottom-left-radius: 6rem;
    position: relative;
    margin: 18rem 0 0;
    padding: 10rem 0rem 5rem;
}

.section-two-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.section-two img {
    width: 320px;
    height: auto;
    position: absolute;
    margin: 0;
    top: -10rem;
    left: 50%;
    transform: translateX(-50%);
    /* Adjusts width based on screen size */
}

.mobile-sec-header {
    color: var(--white);
}

.mobile-sec-para {
    color: var(--white);
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--purple-950);
    gap: 2.5rem;
    padding: 5rem 3rem 2rem;
    border-top-right-radius: 6rem;
}

.footer-section-heading {
    text-align: center;
    margin-bottom: 1.2rem;
    font-family: var(--heading-fnt-fmly);
    color: var(--white);
}

.footer-section ul {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 0.7rem;
}

.footer-links-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.footer-links a {
    color: var(--white);
    font-family: var(--paragraph-fnt-fmly);
}

.attribution {
    font-size: 15px;
    padding: 2rem 0 0.5rem;
    background-color: var(--purple-950);
    text-align: center;
    color: var(--white);
    font-family: var(--paragraph-fnt-fmly);
}

.attribution a {
    color: var(--red-400);
}

/* For desktop preview */

@media (min-width: 640px) {
    .menu-desktop {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: var(--paragraph-fnt-fmly);
        color: var(--white);
    }

    .hero-content h1 {
        font-size: 3rem;
    }

    .hero-content p {
        font-size: 1.3rem;
    }

    footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer-links-container {
        flex-direction: row;
        gap: 8rem;
        justify-content: center;
    }
}

@media (min-width: 992px) {
    nav {
        padding: 2.5rem 6rem;
    }
    .container {
        flex-direction: row;
    }

    /* Section-One */
    .editor-img img {
        right: -10.5rem;
        position: relative;
        transform: translateX(5%);
    }

    .sec-one-des {
        order: -1;
        margin-left: 5rem;
    }

    /* Section-Two */
    .section-two {
        padding: 3.6rem;
    }
    .section-two img {
        width: 375px;
        top: -4rem;
        left: 20%;
    }

    .sec-two-des {
        width: 60%;
    }

    /* Section-Three */
    .laptop-img img {
        position: relative;
        left: -12rem;
        transform: translateX(-5%);
    }

    .sec-three-des {
        margin-right: 5rem;
    }

    /* Footer */
    footer {
        align-items: flex-start;
        flex-direction: row;
    }

    .footer-links-container {
        margin: auto;
        flex-direction: row;
        /* justify-content: space-around; */
        gap: 15rem;
    }
}

@media (min-width: 1024px) {
}
